<ion-header>
  <ion-toolbar>
    <ion-title>approval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onContentScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing product...">
    </ion-refresher-content>
  </ion-refresher>

<ion-content padding>
  <div class="waiting-approval-gif">
    <img src="assets/icon/loading.gif"/>
  </div>
  <div class="waiting-approval">
    <p>Waiting for Approval</p>
  </div>
  <div class="info-card">
    <div class="info-item">
      <span class="label">Restaurant Name:</span> 
      <span class="value">{{restarant}}</span>
    </div>
    <div class="info-item">
      <span class="label">Restaurant ID:</span> 
      <span class="value">{{restarnttableId}}</span>
    </div>
    <div class="info-item">
      <span class="label">Table No:</span> 
      <span class="value">{{tableId}}</span>
    </div>
  </div>
  
</ion-content>
 